{% extends 'core/base.html' %}
{% block content %}
  <main class="px-3">
    <h1>Multiservicios 3L</h1>

    {% if request.user.is_authenticated %}

      <p class="lead">{% if request.user.is_authenticated %}Bienvenido {{ user.username | upper }}, {% endif %}. Todos los materiales eléctricos para sus instalaciones, puede encontrarlos en nuestra tienda. Por ser un nuevo usuario, tendrá un 20% de descuento en su primer compra online !!!</p>

    {% else %}

      <p class="lead">Nuestra empresa se especializa en el Diseño y fabricación de maquinarias, Diseño de planos al detalle, Optimización de procesos, Diseño de sistemas de automatismos para mejorar la productividad, eléctrica, neumática, y PLC.</p>

    {% endif %}

    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Acerca de Nosotros...</a>
    </p>
  </main>
{% endblock %}